div.invitation-message {
  @include row();

  form {
    fieldset {
      padding: 0;
      border: none;

      &.inputs {
        @include columns(8);

        textarea {
          padding: 1em;
        }
      }

      &.actions {
        @include columns(4);

        input.read-only {
          margin-bottom: 15px;
          margin-top: -1px;
        }
      }
    }
  }
}


div.event-url {
  @include row();

  p.help {
    @include columns(3.8);
    position: relative;
  }

  form {
    @include columns(8.2);
  }
}
