div.invitation-message {

  form {
    @include row();
    fieldset {

      &.inputs {
        @include columns(8);

        textarea {
          padding: 1em;
        }
      }

      &.actions {
        @include columns(4);

        input.read-only {
          margin-bottom: 15px;
          margin-top: -1px;
        }
      }
    }
  }
}

div.event-url {
  @include row();
  form {
    @include columns(8);
    @include row();

    input[type="url"] {
      @include columns(9);
    }

    div#copy-url-container {
      @include columns(3);
    }

  }
}
