div.new-event, div.edit-event {
  padding: 30px;
}

div.show-event {
  padding: 30px 30px 0 30px;

  div.event-header {
    margin-top: -30px;
  }

  section.metadata {
    div.reminder {
      float: none;
      line-height: 1.6em;
      padding-bottom: 0.8em;
      text-align: center;

      a.remind-all {
        display:inline-block;
        line-height: 1.3em;
      }
    }

    .alt-invite {
      float: none;
      margin: auto;
      max-width: 7em;
      text-align: center;
    } 
  }

  ul.suggestions {
    margin-top: 10px;
  }

  ul#groups {
    li {
      width: auto;
    }
  }
}

      
