body.welcome {

  div.welcome  {
    div.logo {

      h1 {
        img {
          height: auto;
          width: 400px;
        }
      }
    }

    div.sign-in {
      a {
        &.sign-in {
          width: 350px;
          font-size: 1.5em;
        }
      }
    }
  }

  section.steps {
    ul {
      li {
      }
    }
  }
}

