body.welcome {

  div.welcome  {
    div.logo {

      h1 {
        img {
          height: auto;
          width: 550px;
        }
      }

      div.post-it {
        h2 {
          font-size: 1em;
        }
      }
    }

    div.sign-in {
      a {
        &.sign-in {
          font-size: 1.5em;
          margin-top: 30px;
        }
      }
    }
  }

   div.learn-more {
    font-size: 1.8em;
  }


  div.footer-sign-in {
    a.sign-in {
      font-size: 1.5em;
    }
  }

  section.steps {
    ul {
      li {
        font-size: 2em;
      }
    }
  }
}

