body.welcome {

  div.logo {

      h1 {
        img {
          height: auto;
          width: 400px;
        }
      }
    }

    div.sign-in {
      a {
        &.sign-in {
          margin: 0 auto;
          width: 350px;
        }
      }
    }

  section.steps {
    ul {
      li {
        min-height: 300px;
      }
    }
  }
}

