<% content_for(:javascript) do %>
  <%= javascript_include_tag(:dashboard_invitations) %>
<% end %>
<h3>Users Invited</h3>

<p>This dashboard should answer two basic questions: (1) what is the total number of people and groups invited to vote on any poll during the selected period (weekly, monthly, all time)? (2) of invitees, how many are Yammer users, guests, and Yammer groups?</p>

<%= render 'shared/report' %>
