<script type="text/template" id='userInvitee'>
  <li>
    <a class="remove"></a>
    <div class="user-label">
      <div class="avatar"  style="background-image: url({{= photo }})"></div>
      {{= fullName }}
    </div>
  </li>
</script>

<script type="text/template" id='groupInvitee'>
  <li>
    <a class="remove"></a>
    <div class="group-name">{{= fullName }}</div>
  </li>
</script>

<script type="text/template" id='emailInvitee'>
  <li>
    <a class="remove"></a>
    <div class="user-label">
      {{= label }}
    </div>
  </li>
</script>
