<ul>
  <% event.user_votes(voter).each do |vote| %>
    <li><strong><%= vote.suggestion.primary %><%= ',' if vote.suggestion.secondary.present? %> <%= vote.suggestion.secondary %></strong></li>
  <% end %>
</ul>
