<h1 class="h1" style="color: #30AADE;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 100%;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  text-align: left">
<%= title %>
</h1>
