<%= render 'title', title:
    "#{@creator.name}, you created a poll on sched.do called #{@event.name}."
%>

<p>
  Click here to vote and see the results.
  <%= render 'click_here',
    event: @event,
    email: @event.owner.email,
    source: 'event-created-confirmation',
    medium: 'email',
    campaign: 'sched.do'
  %>
</p>
