<%= render partial: 'title',
  locals:
    {
      title: "#{@creator.name}, you created a poll on sched.do called #{@event.name}."
    }
%>

    <p>To see the results, <strong>
      <%= link_to 'click here',
        event_url(@event),
        html_options = { style: 'color: #EC6E4D' }
      %></strong>.</p>

<p>Did you know you can send your own polls for free? Use sched.do to plan events easily and collect feedback fast on virtually any topic. Click here to <%= link_to 'learn more', root_url, html_options = {:style => 'color: #EC6E4D'} %>.</p>
