<h1 class="h1" style="color: #30AADE;display: block;font-family: Helvetica, sans-serif;font-size: 24px;font-weight: normal;line-height: 100%;margin-top: 10px;margin-right: 0;margin-bottom: 25px;margin-left: 0;text-align: left;">Reminder to vote</h1>

You haven't voted on <%= @event.name %>" and <%= @event.owner.name %> wants your input.

Did you know you can send your own polls for free? Use sched.do to plan events easily and collect feedback fast on virtually any topic. <%= link_to "click here", root_url %> to learn more.
