<%= render 'title', title: "#{@voter.name} voted on your #{@event.name} poll!" %>

<p>
  <%= @voter.name %> voted for:
</p>

<p>You voted for:</p>

<%= render 'list_votes', event: @event, voter: @voter %>

<p>
  Click here to change your vote or see the results.
  <%= render 'click_here',
    event: @event,
    email: @event.owner.email,
    source: 'event-vote-notification',
    medium: 'email',
    campaign: 'sched.do'
  %>
</p>
