body.welcome {
  div.welcome {
    @include background-image(linear-gradient(#fff, darken($bg-color, 2%)));
    border-bottom: 1px solid darken($bg-color, 20%);
    border-top: 1px solid darken($bg-color, 8%);
    @include box-shadow(inset 0 -1px 0px #fff);
    padding: 50px 10px;

    div.logo {
      @include fill-parent();
      text-align: center;

      h1 {
        margin-bottom: -10px;
      }

      h2 {
        color: darken($bg-color, 16%);
        font-weight: normal;
        font-family: $bariol;
        text-shadow: 0 1px 0 #fff;
        font-variant: normal;
        line-height: 1em;
      }

      p#learn-more {
        @extend h2;
        color: darken($bg-color, 35%);
        font-size: 1.2em;
      }
    }

    div.sign-in {
      @extend div.logo;

      a {
        display: block;

        &.sign-in {
          @extend .button;
          @extend .yammer-button;
        }
      }
    }
  }

  section.steps {
    margin-top: 50px;
    width: 100%;
    @include box-sizing(border-box);

    ul {
      text-align: center;

      li {
        border: 1px solid #000;
        @include border-radius(3px);
        @include clearfix();
        display: block;
        visibility: hidden;
        margin: 10px auto;
        margin-bottom: 10px;
        min-height: 200px;
        vertical-align: middle;
      }
    }
  }
}
