body.welcome {
  div.welcome {
    background: #eee;
    padding: 50px 10px;

    div.logo {
      @include fill-parent();
      text-align: center;
    }

    div.sign-in {
      @extend div.logo;

      a {
        display: block;
      }
    }
  }

  section.steps {
    margin-top: 50px;
    width: 100%;
    @include box-sizing(border-box);

    ul {
      text-align: center;

      li {
        border: 1px solid #000;
        @include border-radius(3px);
        @include clearfix();
        display: block;
        visibility: hidden;
        margin: 10px auto;
        margin-bottom: 10px;
        min-height: 200px;
        vertical-align: middle;
      }
    }
  }
}
