body.welcome {

  header {
    background: #eee;
    padding: 50px;
    margin-top: 200px;
    div.logo {
      @include fill-parent();
      text-align: center;
    }

    div.sign-in {
      @extend div.logo;

      a {
        display: block;
      }
    }
  }
}
