<h1 class="h1" style="color: #30AADE;display: block;font-family: Helvetica, sans-serif;font-size: 24px;font-weight: normal;line-height: 100%;margin-top: 10px;margin-right: 0;margin-bottom: 25px;margin-left: 0;text-align: left;">You have been invited!</h1>
<p><strong><%= @event.user.name %></strong> has invited you to the event <%= link_to @event.name, event_url(@event, guest_email: @guest.email), html_options = {:style => "color: #EC6E4D"} %> on Sched.do!</p>
<p>In order to help <%= @event.user.name %> pick a date and time for the event, follow this link <%= link_to event_url(@event), event_url(@event, guest_email: @guest.email), html_options = {:style => "color: #EC6E4D"} %> or paste it into your URL bar, then vote on one or more options.</p>
