div.guest-sign-in {
  @extend .sheet;

  a.sign-in {
    @extend .button;
    @extend .yammer-button;
    display: block;
    text-align: center;
    padding: 0.6em 0 0.6em 1em;
    font-size: 1em;
    @include fill-parent();
  }

  p.sign-in-tip {
    font-size: 0.9em;
    text-align: center;
  }

  form {
    fieldset {
      &.inputs {
        color: #000;
        input:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}

a.staging-login {
  color: rgb(190,190,190);
  @include transition(all, 0.15s, linear);
  position: absolute;
  bottom: 20px;
  right: 20px;

  &:hover {
    color: rgb(140,140,140);
  }
}
