div.new-event {
  div.nested-fields  {
    &.primary {
      padding: 1em;
      @include row();

      div.date {
        @include columns(6);
      }
      div.times {
        @include columns(6);
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
    }
  }

  fieldset.actions {
    @include row();
    input {
      @include columns(6);
      float: right;
    }
  }
}



