div.new-event {
  div.nested-fields  {
    &.primary {
      padding: 1em;
      @include row();
      display: table;
      width: 100%;

      div.date {
        display: table-cell;
        padding-right: 1em;
      }

      div.times {
        display: table-cell;
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
    }
  }

  fieldset.actions {
    @include row();

    input {
      @include columns(6);
      float: right;
    }
  }
}

div.show-event {
  div.event-header {
    h1.event-name {
      font-size: 2.5em;
    }
  }
}
