body.welcome {

  div.welcome  {
    div.logo {

      h1 {
        img {
        }
      }
    }

    div.sign-in {
      a {
        &.sign-in {
          max-width: 350px;
        }
      }
    }
  }

  section.steps {
    img {
      &.step-number {
        width: auto;
      }
    }
    ul {
      li {
        font-size: 3em;
      }
    }
  }
}


