body.welcome {

  div.agree-to-tos {
    max-width: 350px;
  }

  div.welcome  {
    padding: 4% 10% 10%;

    div.logo {
      div.post-it {
        max-width: 370px;
        max-height: 200px;

        h2 {
          font-size: 1.2em;
        }

        a.learn-more-postit {
          max-width: 240px;
          margin: 30px auto 0px;
          padding: 10px 0px;
        }

        &:before, &:after {
          height: 1.5em;
          width:3em;
        }
      }
    }
  }

  div.sign-in {
    input {
      &.sign-in {
        max-width: 400px;
        margin-top: 50px;
      }
    }
  }

  section.steps {
    img {
      &.step-number {
        width: auto;
      }
    }

    ul {
      li {
        font-size: 3em;
        padding: 70px 0 80px;
      }
    }
  }
}
