body.welcome {

  div.welcome  {
    padding: 4% 10% 10%;

    div.logo {
      div.post-it {
        max-width: 370px;
        max-height: 160px;

        h2 {
          font-size: 1.2em;
        }

        &:before, &:after {
          height: 1.5em;
          width:3em;
        }

      }
    }

    div.sign-in {
      a {
        &.sign-in {
          max-width: 350px;
          margin-top: 50px;
        }
      }
    }
  }

  div.learn-more {
    padding: 3.5% 40px 3.5%;
    font-size: 2.5em;

    p {
      @include border-radius(8px);
    }
  }

  div.footer-sign-in {
    padding:18px 0 50px;

    a.sign-in {
      max-width: 350px;
    }
  }

  section.steps {
    img {
      &.step-number {
        width: auto;
      }
    }
    ul {
      li {
        font-size: 3em;
        padding: 100px 0;
      }
    }
  }
}


