body {
  line-height: $lh;
  font-size: 16px;
  color: darken($bg-color, 50%);
  font-family: $bariol;
}

img {
  max-width: 100%;
}

header {
  @include background-image(linear-gradient(#fff, darken($bg-color, 2%)));
  border-bottom: 1px solid darken($bg-color, 20%);
  @include box-shadow(inset 0 -1px 0px #fff);
  overflow: hidden;
  // padding: 15px 0;

  div.header-content {
    padding: 0 10px;

    img.logo {
      $border: 1px solid darken($bg-color, 8%);
      @include background-image(linear-gradient(rgba(255,255,255, 1),rgba(255,255,255, 0.3)));
      border-left: $border;
      border-right: $border;
      @include box-shadow(-1px 0 0 #fff, 1px 0 0 #fff);
      margin: 0;
      margin-bottom: -3px;
      padding: 12px;

      &:hover {
        background: #fff;
      }
    }

    div.logo {
      float: left;
    }

    nav {
      float: right;
      padding-top: 18px;

      ul {
        margin: 0;
        li {
          vertical-align: middle;

          a, a:link, a:visited {
            @extend .button;
          }
        }
      }
    }
  }
}

div.main-content {
  padding: 20px 10px;
}
