html {
  height: auto !important;
  min-height: 100%;
  position: relative;
}

body {
  color: darken($bg-color, 50%);
  font-family: $sans;
  font-size: 16px;
  line-height: $lh;
}

img {
  max-width: 100%;
}

a, a:link {
  color: $orange;
  text-decoration: none;

  &:visited {
    color: darken($orange, 10%);
  }
}

header {
  background-color: $orange;
  @include background-image(linear-gradient(tint($orange, 35%), shade($orange, 6%) 75%, tint($orange, 12%)));
  border-bottom: 1px solid $orange;
  @include box-shadow(inset 0 -1px 0px lighten($orange, 22%));
  overflow: hidden;
  position: relative;
  z-index: 10;

  div.header-content {
    padding: 0 10px;

    a.logo {
      display: block;
      float: left;

      img {
        margin: 0;
        padding: 12px;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 1;
        }
      }
    }

    div.logo {
      float: left;
    }

    nav {
      float: right;
      padding-top: 12px;
      color: $notice;

      ul {
        margin: 0;

        li {
          @include inline-block;
          vertical-align: middle;

          a, a:link, a:visited {
            @include button();
            @extend .light-cta-button;

            &#new-event {
              border-color: darken($orange, 15%);
              @include box-sizing(border-box);
              @include box-shadow(0 1px 0px lighten($orange, 10%), inset 0 1px 0px lighten($orange, 40%));
              display: inline-block;
              padding: 0.35em 1.2em;
            }
          }

          span {
            &.user-name {
              font-size: 0.9em;

              em {
                color: #fff;
              }
            }

            &.user-avatar {
              margin-right: 10px;
              margin-left: 5px;

              div.avatar {
                @extend %avatar;
                @include box-shadow(0 1px 0px lighten($orange, 10%));
                border-color: darken($orange, 5%);
                height: 31px;
                width: 31px;
              }
            }
          }
        }
      }
    }
  }
}

div.main-content {
  overflow-x: hidden;
  padding: 20px 10px;
}

div.footer-spacer {
  height: 100px;
  width: 100%;
}

footer {
  background: lighten($bg-color, 2%);
  border-top: 1px solid darken($bg-color, 10%);
  bottom: 0px;
  @include clearfix;
  @include box-sizing(border-box);
  @include box-shadow(inset 0 1px 4px 0 rgba(darken($bg-color, 10%), 0.4));
  padding: 15px 10px 15px;
  position: absolute;
  text-align: center;
  width: 100%;

  a:link, a:visited, span {
    color: darken($bg-color, 25%);
    font-size: 0.8em;
    margin: 0 6px;
  }

  a:link:hover, a:visited:hover {
    color: darken($bg-color, 50%);
  }
}
