.button {
  @include button();
  @include button-color();
}

.orange-button {
  @include button-color($orange);
  color: #fff;
  text-shadow: 0 -1px 0 darken($orange, 40%);
}

.blue-button {
  background-color: $yammer-blue;
  @include button-color($yammer-blue);
  @include background-image(linear-gradient(#48AFF3, #228ed5));
  color: #fff;
  text-shadow: 0 -1px 0 darken($yammer-blue, 40%);
}

.yammer-button {
  background-color: $yammer-blue;
  @include button-color($yammer-blue);
  @include background-image(url(yammer-logo.svg));
  @include background-image(url(yammer-logo.svg),linear-gradient(#48AFF3, #228ed5));
  background-position: 20px center, 0 0;
  -ms-background-position-x: 20px;
  -ms-background-position-y: center;
  background-repeat: no-repeat;
  background-size: 10%, 100%;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin: 30px auto 25px auto;
  padding-left: 40px;
  padding-right: 0px;
  text-shadow: 0 -1px 0 darken($yammer-blue, 40%);


  &:hover {
    background-color: lighten($yammer-blue, 5%);
    @include background-image(url(yammer-logo.svg),linear-gradient(#48AFF3, lighten(#228ed5, 5%)));
  }
}

.sheet {
  background-color: #fff;
  @include background-image(linear-gradient(top, darken($bg-color, 5%), $bg-color 1%, #fff 20%));
  border: 1px solid darken($bg-color, 10%);
  border-top: none;
  @include box-shadow(0 4px 5px darken($bg-color, 1%));
  margin: -20px auto 0;
  max-width: 100%;
  padding: 4%;

  h2 {
    margin-bottom: 0.6em;
  }
}

%tos-agreement {
  margin: 10px auto;

  label {
    background: $bg-color;
    border: 1px solid darken($bg-color, 10%);
    @include border-radius(3px);
    @include box-shadow(inset 0 0 3px 0 rgba(darken($bg-color, 10%), 0.5));
    color: darken($bg-color, 50%);
    font-size: 0.8em;
    padding: 8px 10px;
    text-align: center;

    a:link, a:visited {
      color: darken($bg-color, 50%);
      display: inline;
      text-decoration: underline;
    }

    input[type="checkbox"] {
      margin-top: 2px;
    }
  }
}

%blue-container {
  @include colorful-container;
}

%orange-container {
  @include colorful-container($orange);
}
