.button {
  @include button();
  @include button-color();
}

.orange-button {
  @include button-color($orange);
  color: #fff;
  text-shadow: 0 -1px 0 darken($orange, 40%);
}

.yammer-button {
  background-color: #48AEF1;
  @include button-color(#48AEF1);
  @include background-image(url(yammer-logo.svg),linear-gradient(#48AFF3, #228ed5));
  background-position: 20px center, 0 0;
  background-repeat: no-repeat;
  background-size: 10%, 100%;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin: 40px auto 20px auto;
  padding-left: 40px;
  padding-right: 0px;
  text-shadow: 0 -1px 0 darken(#48AEF1, 40%);

  &:hover {
    background-color: lighten(#48AEF1, 5%);
    @include background-image(url(yammer-logo.svg),linear-gradient(#48AFF3, lighten(#228ed5, 5%)));
  }
}

.sheet {
  background-color: $bg-color;
  @include background-image(linear-gradient(top, darken($bg-color, 5%), $bg-color 1%, #fff 20%));
  border: 1px solid darken($bg-color, 10%);
  border-top: none;
  @include box-shadow(0 4px 5px darken($bg-color, 1%));
  margin: -20px auto 0;
  max-width: 100%;
  padding: 4%;

  h2 {
    margin-bottom: 0.6em;
  }
}
