.button {
  @include button();
  @include button-color();
}

.orange-button {
  @include button-color($orange);
  color: #fff;
  text-shadow: 0 -1px 0 darken($orange, 20%);
}

.blue-button {
  @include button-color($yammer-blue);
  @include background-image(linear-gradient(#48AFF3, #228ed5));
  color: #fff;
  text-shadow: 0 -1px 0 darken($yammer-blue, 20%);
}

.light-cta-button {
  @include button-color(darken($notice, 10%));
}

.yammer-button {
  background-color: $yammer-blue;
  @include button-color($yammer-blue);
  @include background-image(url(yammer-logo.svg));
  @include background-image(url(yammer-logo.svg),linear-gradient(#48AFF3, #228ed5));
  background-position: 20px center, 0 0;
  -ms-background-position-x: 20px;
  -ms-background-position-y: center;
  background-repeat: no-repeat, repeat;
  background-size: 10%, 100%;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin: 30px auto 25px auto;
  padding-left: 40px;
  padding-right: 0px;
  text-shadow: 0 -1px 0 darken($yammer-blue, 40%);


  &:hover {
    background-color: lighten($yammer-blue, 5%);
    @include background-image(url(yammer-logo.svg),linear-gradient(#48AFF3, lighten(#228ed5, 5%)));
  }
}

.sheet {
  background-color: #fff;
  @include background-image(linear-gradient($bg-color 1%, #fff 20%));
  border: 1px solid darken($bg-color, 10%);
  border-top: none;
  @include box-shadow(inset 0 1px 0 darken($bg-color, 15%), inset 0 3px 6px  darken($bg-color, 5%), 0 4px 5px darken($bg-color, 1%));
  margin: -20px auto 0;
  max-width: 100%;
  padding: 4%;

  h2 {
    margin-bottom: 0.6em;
  }
}

%avatar {
  background: rgb(255,255,255);
  background-position: center center;
  background-size: cover;
  border: 1px solid darken($bg-color, 35%);
  // Why 3.01px? http://bit.ly/RdBuJu
  @include border-radius(3.01px);
  @include box-shadow(inset 0 1px 0 0 rgba(255,255,255, 0.3), 0 1px 0 0 rgba(255,255,255, 1));
  @include inline-block;
  vertical-align: middle;
}

%tos-agreement {
  margin: 10px auto;

  label {
    background: $bg-color;
    border: 1px solid darken($bg-color, 10%);
    @include border-radius(3px);
    @include box-shadow(inset 0 0 3px 0 rgba(darken($bg-color, 10%), 0.5));
    color: darken($bg-color, 50%);
    font-size: 0.8em;
    padding: 8px 10px;
    text-align: center;

    a:link, a:visited {
      color: darken($bg-color, 50%);
      display: inline;
      text-decoration: underline;
    }

    input[type="checkbox"] {
      margin-top: 2px;
    }
  }
}

%blue-container {
  @include colorful-container;
}

%orange-container {
  @include colorful-container($orange);
}

%close-button {
  background-color: rgb(220,220,220);
  @include background-image(url(delete-icon.svg));
  @include background-image(url(delete-icon.svg), linear-gradient(rgb(230,230,230), rgb(210,210,210)));
  background-position: center, left;
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-repeat: no-repeat;
  border: 1px solid rgb(190,190,190);
  @include border-radius(20px);
  @include box-shadow(inset 0 1px 0 rgb(240,240,240), 0 1px 3px darken($bg-color, 15%));
  color: #fff;
  display: none;
  font-size: 0.9em;
  @include no-text;
  outline: none;
  padding: 2px 3px;
  position: absolute;
  right: -10px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0, 0.2);
  top:-10px;
  vertical-align: bottom;
  width: 16px;

  &:hover, &.ui-state-hover {
    background-color: rgb(210,210,210);
    @include background-image(url(delete-icon.svg), linear-gradient(rgb(220,220,220), rgb(200,200,200)));
    @include border-radius(20px);
    background-position: center, left;
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-repeat: no-repeat;
  }
}

%group-label {
  $color: darken($bg-color, 45%);
  background-color: $color;
  @include background-image(url(group.svg), linear-gradient(tint($color, 35%), shade($color, 10%)));
  background-position: 10px center;
  background-repeat: no-repeat, repeat;
  border: 1px solid darken($color, 5%);
  border-bottom-color: darken($color, 20%);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 0px lighten($color, 30%));
  font-size: 0.9em;
  @include inline-block;
  padding: 0.5em 1em 0.5em 30px;
  @include colorful-container-text($color)
}

%user-label {
  $color: darken($bg-color, 45%);
  background-color: $color;
  @include background-image(linear-gradient(tint($color, 35%), shade($color, 10%)));
  border: 1px solid darken($color, 5%);
  border-bottom-color: darken($color, 20%);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 0px lighten($color, 30%));
  font-size: 1em;
  @include inline-block;
  padding: 0.6em;
  @include colorful-container-text($color);

  .avatar {
    @extend %avatar;
    border: 1px solid darken($color, 15%);
    @include box-shadow(inset 0 1px 0 0 rgba(255,255,255, 0.3), 0 1px 0 0 lighten($color, 20%));
    vertical-align: -25%;
    margin-right: 8px;
    height: 24px;
    width: 24px;
  }
}

%delete-button {
  background-color: lighten($blue, 20%);
  @include background-image(url(delete-icon.svg));
  background-position: center, left;
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-repeat: no-repeat;
  @include border-radius(20px);
  color: #fff;
  display: none;
  font-size: 0.9em;
  @include no-text;
  outline: none;
  padding: 2px 3px;
  position: absolute;
  right: -10px;
  text-decoration: none;
  top:-10px;
  vertical-align: bottom;
  width: 16px;
  height: 16px;

  &:hover {
    background-color: lighten($orange, 10%);
    @include background-image(url(delete-icon.svg));
  }
}

%close-button {
  background-color: rgb(220,220,220);
  @include background-image(url(delete-icon.svg));
  @include background-image(url(delete-icon.svg), linear-gradient(rgb(230,230,230), rgb(210,210,210)));
  background-position: center, left;
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-repeat: no-repeat;
  border: 1px solid rgb(190,190,190);
  @include border-radius(20px);
  @include box-shadow(inset 0 1px 0 rgb(240,240,240), 0 1px 3px darken($bg-color, 15%));
  color: #fff;
  display: none;
  font-size: 0.9em;
  @include no-text;
  outline: none;
  padding: 2px 3px;
  position: absolute;
  right: -10px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0, 0.2);
  top:-10px;
  vertical-align: bottom;
  width: 16px;

  &:hover, &.ui-state-hover {
    background-color: rgb(210,210,210);
    @include background-image(url(delete-icon.svg), linear-gradient(rgb(220,220,220), rgb(200,200,200)));
    @include border-radius(20px);
    background-position: center, left;
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-repeat: no-repeat;
  }
}

%group-label {
  $color: darken($bg-color, 45%);
  background-color: $color;

  @include background-image(url(group.svg), linear-gradient(tint($color, 35%), shade($color, 10%)));
  background-position: 10px center;
  border: 1px solid darken($color, 5%);
  border-bottom-color: darken($color, 20%);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 0px lighten($color, 30%));
  font-size: 0.9em;
  @include inline-block;
  padding: 0.5em 1em 0.5em 30px;
  @include colorful-container-text($color);

  background-image: url(group.png);
  -ms-background-position-x: 5px left;
  -ms-background-position-y: center;
  background-repeat: no-repeat;
}

%user-label {
  $color: darken($bg-color, 45%);
  background-color: $color;
  @include background-image(linear-gradient(tint($color, 35%), shade($color, 10%)));
  border: 1px solid darken($color, 5%);
  border-bottom-color: darken($color, 20%);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 0px lighten($color, 30%));
  font-size: 1em;
  @include inline-block;
  padding: 0.6em;
  @include colorful-container-text($color);

  .avatar {
    @extend %avatar;
    border: 1px solid darken($color, 15%);
    @include box-shadow(inset 0 1px 0 0 rgba(255,255,255, 0.3), 0 1px 0 0 lighten($color, 20%));
    vertical-align: -25%;
    margin-right: 8px;
    height: 24px;
    width: 24px;
  }
}

%delete-button {
  background-color: lighten($blue, 20%);
  @include background-image(url(delete-icon.svg));
  background-position: center, left;
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-repeat: no-repeat;
  @include border-radius(20px);
  color: #fff;
  display: none;
  font-size: 0.9em;
  @include no-text;
  outline: none;
  padding: 2px 3px;
  position: absolute;
  right: -10px;
  text-decoration: none;
  top:-10px;
  vertical-align: bottom;
  width: 16px;

  &:hover {
    background-color: lighten($orange, 10%);
    @include background-image(url(delete-icon.svg));
  }
}
