div.flash {
  width: 100%;
  max-width: $max-width*0.97;
  margin: 0 auto;
}


div.error, div.notice, div.success {
  border: 1px solid #ddd;
  border-top: none;
  @include border-radius(0 0 3px 3px);
  padding: .75em;
  position: absolute;
  z-index: 0;
  opacity: 0;
  width: 100%;
  max-width: $max-width*0.97;
  @include box-sizing(border-box);
  @include box-shadow(0 1px 3px rgba(0,0,0,0.15));
  @include animation(slide-down 3s 0s 1 ease forwards);
  text-align: center;
}

div.error {
  @include notice-style($error);
}

div.notice {
  @include notice-style($notice);
}

div.success {
  @include notice-style($success);
}

#flash-error, #flash-failure {
  @extend div.error;
}
#flash-notice {
  @extend div.notice;
}
#flash-success {
  @extend div.success;
}
