@mixin button($weight: normal) {
  @include border-radius(3px);
  font-family: $bariol;
  padding: 0.5em 1.2em;
  text-decoration: none;
  cursor: pointer;
}

@mixin button-color($color: $bg-color) {
  @include background-image(linear-gradient(lighten($color, 10%), darken($color, 5%)));
  border: 1px solid darken($color, 20%);
  @include box-shadow(0 1px 0px #fff, inset 0 1px 0px lighten($color, 20%));

  color: darken($color,40%);
  text-shadow: 0 1px 0px lighten($color, 20%);

  &:hover {
    @include background-image(linear-gradient(lighten($color, 10%), darken($color, 2%)));
  }

  &:active {
    @include background-image(linear-gradient(darken($color, 5%), lighten($color, 10%)));
  }
}
