@mixin button($weight: normal) {
  @include border-radius(3px);
  font-family: $bariol;
  padding: 0.5em 1.2em;
  text-decoration: none;
  cursor: pointer;
}

@mixin button-color($color: $bg-color) {
  background-color: $color;
  @include background-image(linear-gradient(lighten($color, 10%), darken($color, 5%)));
  border: 1px solid darken($color, 20%);
  @include box-shadow(0 1px 0px #fff, inset 0 1px 0px lighten($color, 20%));
  color: darken($color,40%);
  text-shadow: 0 1px 0px lighten($color, 20%);

  &:hover {
    background-color: lighten($color, 3%);
    @include background-image(linear-gradient(lighten($color, 10%), darken($color, 2%)));
  }

  &:active {
    background-color: darken($color, 2%);
    @include background-image(linear-gradient(darken($color, 5%), lighten($color, 10%)));
  }
}

@mixin notice-style($color) {
  background-color: $color;
  @include background-image(linear-gradient(darken($color, 10%), lighten($color, 2%) 5%, darken($color, 3%), lighten($color, 1%) 99%));
  border-color: darken($color, 20%);
  color: desaturate(darken($color, 45%), 10%);
  text-shadow: 0 1px 0 lighten($color, 20%);
  font-size: 1.1em;

  a {
    color: darken($color, 45%);
  }
}

// Alternative IR mixin
@mixin no-text {
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
}

// Colorful container mixin
@mixin colorful-container-text($color) {
  color: #FFF;
  text-shadow: 0 -1px 0 darken($color, 40%);
}

@mixin colorful-container($color: $yammer-blue) {
  background-color: $color;
  @include background-image(linear-gradient(tint($color, 35%), shade($color, 10%)));
  border: 1px solid darken($color, 5%);
  border-bottom-color: darken($color, 20%);
  @include box-shadow(inset 0 1px 0px lighten($color, 30%));
  @include colorful-container-text($color);

  h1, h2, h3, h4 ,h5, h6 {
    @include colorful-container-text($color);
  }
}
