html.no-svg {

  // Welcome Index
  body.welcome {
    div.sign-in > input.sign-in {
      @include background-image(url(yammer-logo.png));
      background-repeat:no-repeat ;
      -ms-background-position-x: 20px left;
      -ms-background-position-y: 0 center;
    }
  }

  // Event New
  div.new-event div.nested-fields.primary a.remove_fields {
    @include background-image(url(delete-icon.png));

    &:hover {
      @include background-image(url(delete-icon.png));
    }
  }

  div.new-event div.nested-fields.secondary a.remove_fields {
    @include background-image(url(delete-icon-small.png));

    &:hover {
      @include background-image(url(delete-icon-small.png));
    }
  }

  // Event header
  div.show-event {
    ul.poll-actions {
      li {
        button#copy-event-url {
          @include background-image(url(link-icon.png));
        }

        a.edit-button {
          @include background-image(url(edit-icon.png));
        }

        a.close-button {
          @include background-image(url(close-icon.png));
        }
      }
    }
  }

  // Vote Table
  div.table-wrapper div.options table tr.votable td form.vote li.action input[type="submit"].vote {
    background-image: url(checkmark-dimmed.png);
  }

  div.table-wrapper div.options table tr.votable td:hover {
    form.vote li.action input[type="submit"].vote {
      background-image: url(checkmark.png);
    }
  }

  div.table-wrapper div.options table tr.votable td form.vote li.action input[type="submit"].unvote {
    background-image: url(checkmark.png);
  }

  div.table-wrapper div.options table tr.votable td:hover {
    form.vote li.action input[type="submit"].unvote {
      background-image: url(cross.png);
    }
  }

  // Autocomplete Drop Down
  ul.ui-autocomplete li.ui-menu-item a.ui-state-hover {
    @include background-image(url(add-sign.png));
  }
}
