table {
  margin-bottom: 0;

  tr, th, td {
    white-space: nowrap;
  }

  th {
    font-weight: bold;
  }
}

div.table-wrapper {
  margin: 20px 0;
  position: relative;

  div.scroll-notice {
    background: rgb(240,240,240);
    @include background-image(url(more-arrow.svg));
    @include background-image(url(more-arrow.svg), linear-gradient(180deg, rgb(230,230,230) 0%, rgb(240,240,240) 80%, rgb(245,245,245) 100%));
    background-position: 0.1em, center;
    background-repeat: no-repeat;
    border: 1px solid rgb(210,210,210);
    @include border-radius(3px);
    @include box-shadow(inset 0 1px 0 0 rgba(255,255,255, 0.4), 0 1px 3px 0 rgba(0,0,0, 0.1));
    cursor: pointer;
    height: 38px;
    position: absolute;
    display: none;
    right: -10px;
    top: 17px;
    @include transition(all 0.25s ease-out);
    width: 50px;
  }

  table {
    td, th {
      border: 0;
      height: 56px;
      padding: 0 13px;
      text-align: left;
    }
  }

  div {
    &#invitees {
      background: #fff;
      border: 1px solid darken($bg-color, 20%);
      @include border-radius(4px 0 0 0);
      @include box-sizing(border-box);
      @include box-shadow(1px 0px 0px rgba(darken($bg-color, 50%), 0.1));
      left: 0;
      position: absolute;
      top: 0px;
      width: $table-width-mobile;

      &.blank {
        top: 0px;
      }

      th {
        background-color: darken($bg-color, 3%);
        @include background-image(linear-gradient($bg-color, darken($bg-color, 6%)));
        border-bottom: 1px solid darken($bg-color, 20%);
        @include box-sizing(border-box);
        @include border-radius(4px 0 0 0);
        font-family: $bariol;
        height: 74px;
        padding: 0 17px;
        text-align: center;
        text-shadow: 0 1px 0 #fff;


        span.secondary {
          display: block;
          font-weight: normal;
        }
      }

      table {
        table-layout: fixed;

        tr {
          border-bottom: 1px solid darken($bg-color, 20%);
          @include box-shadow(inset 0 1px 0 rgba(255,255,255, 1));
          text-shadow: 0 1px 0 #fff;

          &.current-user {
            background-color: darken($bg-color, 3%);

            td {
              color: darken($bg-color, 50%);
              position: relative;
            }
          }

          &.total {
            background-color: darken($bg-color, 3%);
            @include background-image(linear-gradient($bg-color, darken($bg-color, 6%)));

            td {
              color: darken($bg-color, 50%);
            }
          }

          &:last-child {
            border-bottom: 0;
          }

          td {
            color: darken($bg-color, 35%);
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: middle;

            .avatar {
              background: rgb(255,255,255);
              background-position: center center;
              background-size: cover;
              border: 1px solid darken($bg-color, 35%);
              @include border-radius(3px);
              @include box-shadow(inset 0 1px 0 0 rgba(255,255,255, 0.3), 0 1px 0 0 rgba(255,255,255, 1));
              height: 24px;
              @include inline-block;
              vertical-align: middle;
              width: 24px;
            }

            span {
              vertical-align: middle;

              &.user-name {
                margin-left: 5px;
              }
            }

            &.event-creator {
              position: static;

              img {
                @include inline-block;
                margin: 0px;
                opacity: 0.7;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }

    &.options {
      border: 1px solid darken($bg-color, 20%);
      @include border-radius(0px 4px 0 0);
      @include box-sizing(border-box);
      margin-left: $table-width-mobile - 1;
      overflow: auto;
      height: 100%;

      &::-webkit-scrollbar {
        background-color: $bg-color;
        border-top: 1px solid darken($bg-color, 20%);
        height: 7px;
        -webkit-appearance: none;
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
          background-color: rgba(0,0,0, 0.5);
          border-radius: 4px;
          -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      }


      table {
        @include box-shadow(0 0 20px darken($bg-color, 15%));

        th {
          background-color: $bg-color;
          @include background-image(linear-gradient(#fff, darken($bg-color, 2%)));
          @include box-shadow(inset 0 1px 0 #fff);
          border-bottom: 1px solid darken($bg-color, 20%);
          border-right:1px solid darken($bg-color, 20%);
          @include box-sizing(border-box);
          font-family: $bariol;
          height: 74px;
          padding: 0 17px;
          text-align: center;
          text-shadow: 0 1px 0 #fff;

          &:last-child {
            border-right: 0;
          }

          &:nth-child(even) {
            background-color: darken($bg-color, 3%);
            @include background-image(linear-gradient($bg-color, darken($bg-color, 6%)));
          }

          span.secondary {
            display: block;
            font-weight: normal;
          }
        }

        tr {
          border-bottom:1px solid darken($bg-color, 20%) ;

          &.votable {
            td {
              form.vote {
                li.action {
                  list-style: none;
                  position: relative;

                  input[type="submit"] {
                    border: 0;
                    @include border-radius(0);
                    @include box-shadow(none);
                    @include box-sizing(border-box);
                    height: 56px;
                    overflow: hidden;
                    text-indent: -9999px;

                    &.vote {
                      background: rgb(247, 251, 252);
                      background-color: rgba(231, 244, 247, 0.3);
                      background-image: url(checkmark-dimmed.svg);
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: 40px;
                    }

                    &.unvote {
                      background: darken($success, 25%);
                      background-image: url(checkmark.svg);
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: 40px;
                      @include transition(none);
                    }
                  }
                }
              }

              &:hover {
                form.vote {
                  li.action {
                    input[type="submit"] {
                      &.vote {
                        background: darken($success, 10%);
                        background-image: url(checkmark.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 40px;
                      }

                      &.unvote {
                        background: saturate(darken($failure, 30%), 20%);
                        background-image: url(cross.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 40px;
                        @include box-shadow(inset 0 1px 2px darken($orange, 10%));
                      }
                    }
                  }
                }
              }
            }
          }
        }

        td {
          background: #fff;
          border-right: 1px solid darken($bg-color, 8%);
          height: 56px;
          padding: 0;

          &.send-reminder {
            text-align: center;

            div.reminder-wrapper {
              a.remind {
                background: lighten($bg-color, 1%);
                @include inline-block;
                color: darken($bg-color, 20%);
                border: 1px solid darken($bg-color, 2%);
                @include border-radius(3px);
                font-size: 0.8em;
                padding: 3px 8px;

                &:hover {
                  @extend .blue-button;
                }
              }
            }
          }

          &:last-child {
            border: none;
          }

          &.voted, &:nth-child(even).voted {
            background: darken($success, 25%);
            @include box-shadow(inset 0 0 10px darken($success, 30%));
            color: #fff;
            position: relative;
            text-align: center;

            img {
              width: 32px;
            }
          }

          &:nth-child(even) {
            background: $bg-color;
          }

          img {
            margin: 0;
          }
        }

        tfoot {
          tr {
            border: 0;

            td {
              background-color: $bg-color;
              @include background-image(linear-gradient(#fff, darken($bg-color, 2%)));
              @include box-shadow(inset 0 1px 0 #fff);
              color: $blue;
              font-family: $bariol;
              text-align: center;

              &:nth-child(even) {
                background-color: darken($bg-color, 3%);
                @include background-image(linear-gradient($bg-color, darken($bg-color, 6%)));
              }
            }
          }
        }
      }
    }
  }
}

// A quick fix for https://developer.mozilla.org/en/CSS/box-sizing#Notes
@-moz-document url-prefix() {
  div.table-wrapper  {
    div#invitees table {

      thead {
        height: 76px;
      }

      tr.invitee td {
        height: 57px;
      }

      tr.current-user {
        height: 57px;
      }
    }

    div.options table {
      td {
        padding: 0;
      }

      thead th {
        height: 76px;
      }
    }
  }
}
