table {
  margin-bottom: 0;

  tr, th, td {
    white-space: nowrap;
  }

  th {
    font-weight: bold;
  }

  td, th {
    padding: 1.2em;
    text-align: left;
    border: 0;
  }
}
div.table-wrapper {
  position: relative;
  margin: 20px 0;

  div {
    &.participants {
      position: absolute;
      left: 0;
      top: 5em;
      background: #fff;
      width: $table-width-mobile;
      overflow: hidden;
      overflow-x: scroll;
      border: 1px solid darken($bg-color, 20%);
      @include box-sizing(border-box);
      @include user-select();

      table {
        tr {
          border-bottom: 1px solid darken($bg-color, 20%);
          @include background-image(linear-gradient(#fff, $bg-color));
          text-shadow: 0 1px 0 #fff;

          &:last-child {
            border-bottom: 0;
          }

          td {
            color: darken($bg-color, 35%);
          }
        }
      }
    }

    &.search-box {
      @include background-image(linear-gradient(#fff, darken($bg-color, 2%)));
      @include box-sizing(border-box);
      @include border-radius(4px 0 0 0);
      border: 1px solid darken($bg-color, 20%);
      @include box-shadow(inset 0 -1px 0px #fff);
      left: 0;
      padding: 1em;
      position: absolute;
      top: 0;
      width: $table-width-mobile;
    }

    &.options {
      border: 1px solid darken($bg-color, 20%);
      overflow: scroll;
      overflow-y: hidden;
      @include box-sizing(border-box);
      @include border-radius(0 4px 0 0);
      margin-left: $table-width-mobile - 1;
      cursor: -webkit-grab;
      @include user-select();


      table {
        @include box-shadow(0 0 20px darken($bg-color, 15%));

        tr {
          border-bottom:1px solid darken($bg-color, 20%) ;

          &:last-child {
            border:0;
          }
        }

        td {
          padding: 0;
          height: 3.45em;

          &#voted {
            background: darken($success, 25%);
            @include box-shadow(inset 0 0 10px darken($success, 30%));
            @include box-sizing(border-box);
            color: #fff;
            text-align: center;
            position: relative;

            img {
              width: 24px;
            }
          }

          &:nth-child(even) {
            background: rgba(229, 248, 252, 0.5);
          }

          img {
            margin: 0;
          }
        }

        th {
          @include background-image(linear-gradient(#fff, darken($bg-color, 2%)));
          border-bottom: 1px solid darken($bg-color, 20%);
          border-right:1px solid darken($bg-color, 20%);
          height: 2.6em;
          text-shadow: 0 1px 0 #fff;
          font-family: $bariol;

          &:last-child {
            border: 0;
          }

          &:nth-child(even) {
            @include background-image(linear-gradient($bg-color, darken($bg-color, 6%)));
          }
        }
      }
    }
  }
}

::-webkit-scrollbar:horizontal {
  display: none;
}
