@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/bariol_regular-webfont.eot');
    src: url('/fonts/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bariol/bariol_regular-webfont.woff') format('woff'),
         url('/fonts/bariol/bariol_regular-webfont.ttf') format('truetype'),
         url('/fonts/bariol/bariol_regular-webfont.svg#BariolRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol Light';
    src: url('/fonts/bariol/bariol_light-webfont.eot');
    src: url('/fonts/bariol/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bariol/bariol_light-webfont.woff') format('woff'),
         url('/fonts/bariol/bariol_light-webfont.ttf') format('truetype'),
         url('/fonts/bariol/bariol_light-webfont.svg#BariolRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/bariol_bold-webfont.eot');
    src: url('/fonts/bariol/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bariol/bariol_bold-webfont.woff') format('woff'),
         url('/fonts/bariol/bariol_bold-webfont.ttf') format('truetype'),
         url('/fonts/bariol/bariol_bold-webfont.svg#BariolRegularRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}


h1, h2, h3, h4, h5 {
  color: darken($bg-color, 50%);
  font-family: $bariol-light;
  font-variant: small-caps;
  text-shadow: 0 1px 0 #fff;
  text-transform: lowercase;

  a, a:link {
    text-decoration: none;
  }
}


h1 {
  font-size: $h1-size;
  margin-bottom: $h1-size/6;
}

@for $i from 2 through 6 {
  h#{$i} {
    font-size: $h1-size * $ratio;
    margin-bottom: ($h1-size/6) * $ratio;
    $ratio: $ratio * .9;
  }
}
