// Grid settings
$grid-columns: 12;
$gutter-width: 2%;
$column-width: (100% - ($gutter-width * ($grid-columns - 1))) / $grid-columns;

$max-width: 1000px;
$table-width-mobile: $max-width*0.2; // Used for the invitation table mobile layout
$table-width: $max-width*0.3; // Used for the invitation table layout

// Fonts
$bariol: 'Bariol', Helvetica, sans-serif;
$bariol-light: 'Bariol Light', Helvetica, sans-serif;
$sans: Verdana, Helvetica, Arial, sans-serif;
$serif: Georgia,serif;

// Type size
$body-font: 16px;
$h1-size: 2em;

// Ratio used in generating relative size and bottom margin of H tags based on $h1-size
$ratio: .8;

//Line height
$lh: 1.1em;

// colors:
$bg-color: #F6FBFC;
$blue: #30AADE;
$orange: #EC6E4D;
$placeholder-color: darken($bg-color, 20%);
$yammer-blue: #48AEF1;
$yellow: #FEFFDF;

// Flash colors
$notice:#FFF3E5;
$success:#EDF8E7;
$error:lighten($orange, 33%);
$failure: #F5D1D1;
