// Grid settings
$grid-columns: 12;
$gutter-width: 2%;
$column-width: (100% - ($gutter-width * ($grid-columns - 1))) / $grid-columns;

$max-width: 1000px; // Change to 100% for a completely fluid layout. Also, keep this in mind when changing the pixel value of max-width http://ejohn.org/blog/sub-pixel-problems-in-css/

// Fonts
$bariol: 'Bariol', Helvetica, sans-serif;
$sans: 'Open Sans',Verdana, Helvetica, Arial, sans-serif;
$serif: Georgia,serif;

// Type size
$body-font: 16px;
$h1-size: 2em;

// Ratio used in generating relative size and bottom margin of H tags based on $h1-size
$ratio: .8;

//Line height
$lh: 1.1em;

// colors:
$bg-color: #f6fbfc;
$blue: #30AADE;
$orange: #EC6E4D;
$placeholder-color: darken($bg-color, 20%);

// Flash colors
$notice:#fff3e5;
$success:#EDF8E7;
$error:lighten($orange, 33%);
