<header>
<div class="header-content">
  <a href="/" class="logo">
    <img src="/images/navbar-logo.svg" alt="Sched.do" />
  </a>
  <% if current_user.present? %>
    <nav>
      <ul>
        <li>
          <%= link_to 'Sign out', sign_out_path %>
        </li>
      </ul>
    </nav>
  <% end %>
</div>
</header>
<%= render 'shared/flashes' -%>

