<header>
<div class="header-content">
  <a class="logo" href="/">
    <img src="/images/navbar-logo.svg" alt="" />
  </a>
  <nav>
    <ul>
      <li>
        <a href="">Log out</a>
      </li>
    </ul>
  </nav>
</div>
</header>
