<header>
<div class="header-content">
  <a href="/">
    <img class="logo" src="/images/navbar-logo.svg" alt="Sched.do" />
  </a>
  <nav>
    <ul>
      <li>
        <%= link_to 'Sign out', sign_out_path %>
      </li>
    </ul>
  </nav>
</div>
</header>
<%= render 'shared/flashes' -%>

