<header>
<div class="wrapper">
  <a class="logo" href="/">
    <img src="/images/navbar-logo.svg" alt="" />
  </a>
  <nav>
    <ul>
      <li>
        <a href="">Sign out</a>
      </li>
    </ul>
  </nav>
</div>
</header>
