<header>
<div class="header-content">
  <a href="/">
    <img class="logo" src="/images/navbar-logo.svg" alt="Sched.do" />
  </a>
  <nav>
    <ul>
      <li>
        <a href="">Log out</a>
      </li>
    </ul>
  </nav>
</div>
</header>
