<header>
<div class="header-content">
  <a href="/" class="logo">
    <img src="/assets/navbar-logo.svg" data-png-fallback="/assets/navbar-logo.png" alt="Sched.do" />
  </a>
  <nav>
    <ul>
      <li>
        <% if current_user.guest? %>
          <%= link_to 'Create Poll', "#sign-in-modal", id: "new-event", name: "sign-in-modal" %>
        <% else %>
          <%= link_to 'Create Poll', new_event_path, id: "new-event", class: "create-poll" %>
        <% end %>
      </li>
      <% if current_user.yammer_user? %>
        <li>
          <%= link_to 'Sign out', sign_out_path %>
        </li>
      <% end %>
      </ul>
    </nav>
</div>
</header>
<%= render 'shared/flashes' -%>
