<div class="hide-modal">
  <div class="dialog-modal" id="sign-in-modal">
    <div class="inner">
      <h2>To create your own sched.do polls you must be signed in with Yammer.</h2>
       <div class="sign-in">
         <%= button_to 'Sign in with Yammer', '/auth/yammer', class: 'sign-in',  id: 'sign-in' %>
       </div>
    </div>
  </div>
</div>
