<div class="modal" id="sign-in-modal">
  <%= link_to "Sign in with Yammer", "/auth/yammer", class: "sign-in",  id: "sign-in" %>
  <a href="#close" class="modal-close">X</a>
<div>
  You must be signed in with Yammer to create polls.
</div>
</div>
