<header id="js-welcome-header">
<div class="logo">
  <h1>Sched.do</h1>
  <p>Group event scheduling made easy<p>
</div>

<div class="sign-in">
  <%= link_to "Sign in with Yammer", "/auth/yammer", class: "button", id: "sign-in" %>
  <p href="" class="button" id="learn-more">Scroll to see how it works ⬇</p>
</div>
</header>

<section class="steps">
<ul>
 <li>1. Create an event</li>
 <li>2. Suggest dates & times</li>
 <li>3. Invite guests to vote</li>
 <li>4. Pick the right date and time</li>
</ul>
</section>
