<div class= "welcome" id="js-welcome-header"> <div class="logo">
    <h1><img src="/assets/welcome-page/welcome-logo.svg" alt="Sched.do" /></h1>
    <div class="post-it">
      <h2>Bringing busy people together.</h2>
    </div>
  </div>

  <div class="sign-in">
    <%= link_to "Sign in with Yammer", "/auth/yammer", class: "sign-in",  id: "sign-in" %>
  </div>
  <p style="text-align: center; padding-top: 20px; max-width: 350px; margin: 0 auto; font-style: italic; color: #999">To connect your Yammer Staging account, scroll to the bottom right side of the page and click the light gray Staging link</p>
</div>

<section class="steps">
<ul>
  <li class="first-step">
    <div class="title">
      <img src="/assets/welcome-page/step-1.svg" class="step-number" alt="" />
      Create an event
    </div>
    <img src="/assets/welcome-page/new-event.svg" class="illustration" id="new-event"  alt="" />
  </li>

  <li class="second-step">
    <div class="title">
      <img src="/assets/welcome-page/step-2.svg" class="step-number"  alt="" />
      Suggest dates & times
    </div>
    <img src="/assets/welcome-page/suggestions.svg" class="illustration" id="suggestions"  alt="" />
  </li>

  <li class="third-step">
    <div class="title">
      <img src="/assets/welcome-page/step-3.svg"class="step-number" alt="" />
      Invite guests to vote
    </div>
    <img src="/assets/welcome-page/invite-people.svg" class="illustration" id="invite-people"  alt="" />
  </li>

  <li class="fourth-step">
    <div class="title">
      <img src="/assets/welcome-page/step-4.svg" class="step-number" alt="" />
      Pick a date & time
    </div>
    <img src="/assets/welcome-page/choose-date.svg" class="illustration" id="choose-date"  alt="" />
  </li>
</ul>
</section>

<div class="footer-sign-in">
  <%= link_to "Sign in with Yammer", "/auth/yammer", class: "sign-in",  id: "sign-in" %>
  <footer>
    <%= link_to "staging", "/auth/yammer_staging" %>
  </footer>
</div>



