<div class= "welcome" id="js-welcome-header">
<div class="logo">
  <h1><img src="/images/welcome-logo.png" alt="Sched.do" /></h1>
  <h2>Group event scheduling made easy</h2>
</div>

<div class="sign-in">
  <%= link_to "Sign in with Yammer", "/auth/yammer", class: "sign-in",  id: "sign-in" %>
  <p id="learn-more">Scroll to see how it works ⬇</p>
</div>
</div>

<section class="steps">
<ul>
 <li>1. Create an event</li>
 <li>2. Suggest dates & times</li>
 <li>3. Invite guests to vote</li>
 <li>4. Pick the right date and time</li>
</ul>
</section>
