<div class= "welcome" id="js-welcome-header">
<div class="logo">
  <h1><img src="/images/welcome-logo.png" alt="Sched.do" /></h1>
  <h2>Group event scheduling made easy</h2>
</div>

<div class="sign-in">
  <%= link_to "Sign in with Yammer", "/auth/yammer", class: "sign-in",  id: "sign-in" %>
  <p id="learn-more">Scroll to see how Sched.do works ⬇</p>
</div>
</div>

<section class="steps">
<ul>
  <li class="first-step">
    <img src="/images/welcome-page/step-indicator-1.png" alt="" />
    Create an event
    <img src="/images/welcome-page/new-event.png" class="illustration" id="new-event"  alt="" />
  </li>
  <li class="second-step">
    <div class="title">
    <img src="/images/welcome-page/step-indicator-2.png" alt="" />
    Suggest dates & times
    </div>
    <img src="/images/welcome-page/suggestions.png" class="illustration" id="suggestions"  alt="" />
  </li>
  <li class="third-step">
    <img src="/images/welcome-page/step-indicator-3.png" alt="" />
    Invite guests to vote
    <img src="/images/welcome-page/invite-people.png" class="illustration" id="invite-people"  alt="" />
  </li>
  <li class="fourth-step">
    <img src="/images/welcome-page/step-indicator-4.png" alt="" />
    Pick the right date and time
    <img src="/images/welcome-page/choose-date.png" class="illustration" id="choose-date"  alt="" />
  </li>
</ul>
</section>
