<% if current_user == invitee %>
  <%= render 'events/vote',
    suggestion: suggestion,
    vote_for_suggestion: vote_for_suggestion %>
<% else %>
  <% if invitee.has_voted_for_suggestion?(suggestion) %>
    <td class="voted">
      <%= image_tag('checkmark.png') %>
    </td>
  <% else %>
    <td></td>
  <% end %>
<% end %>
