<% if @event.open? && user_owner?(@event, current_user)  %>
  <div class="closing-time">
    <p>Your poll is now live. Kick back and invitees will vote on the best times. No need to wait here though, you will receive notifications via email.</p>
    <p>When you've reached a consensus, choose a winner and notify invitees.</p>
  </div>
<% else %>
  <div class="closing-time">
    <p>This poll is closed.</p>
  </div>
<% end %>
