<form action="post">
  <input id="" name="" type="text" />
  <div class="duration">
    <span>Duration</span>
    <input id="" name="" type="text" class="value" />
    <select id="" name="">
      <option value="Hours">Hours</option>
      <option value="Days">Days</option>
      <option value="Months">Months</option>
    </select>
  </div>
  <p>Suggest date and time options</p>
  <div class="options">
   <ul>
    <li>
     <i></i>
     <input id="" name="" type="text" class="date-picker" placeholder="Pick a date" />
    </li>
    <li>
     <i></i>
     <input id="" name="" type="text" class="date-picker" placeholder="Pick a date" />
    </li>
   </ul>
  </div>
  <button>+ Add a New date and time</button>
  <input type="submit" value="Create event & invite participants" />
  <a href="">...or save the event and leave that for later</a>
</form>


