<div class="nested-fields primary">
  <div class="date">
    <%= f.input :primary, as: :string, label: false, placeholder: "Date",
          input_html: { 'data-role' => 'primary-suggestion' } %>
  </div>
  <div class="times">
    <%= f.input :secondary, as: :string, label: false, placeholder: "Time",
          input_html: { 'data-role' => 'secondary-suggestion' } %>
    <%= link_to_remove_association 'Remove Suggestion', f, tabindex: '-1' %>
  </div>
</div>
