<div class="reminder">
  <span><%= pluralize(@event.invitees.count, "person") %> invited</span>
  <span class="divider">|</span>
  <span><%= pluralize(other_invitees_who_have_not_voted_count(@event, current_user), 'has not voted','have not voted') %></span>
  <% if other_invitees_who_have_not_voted_count(@event, current_user) > 0 %>
    <%= link_to 'Remind Them!', reminders_path(reminder: { receiver_id: @event.id, receiver_type: @event.class.name }, event_id: @event), method: :post, class: "remind-all" %>
  <% end %>
</div>
