<div class="nested-fields secondary">
  <%= f.input :primary, as: :string, label: false, placeholder: "Date",
        input_html: { 'data-role' => 'primary-suggestion' } %>
  <%= f.input :secondary, as: :string, label: false, placeholder: "Time",
        input_html: { 'data-role' => 'secondary-suggestion' } %>
  <%= link_to_remove_association 'Remove Suggestion', f, tabindex: '-1', 'data-timeout' => 2000 %>
</div>
