<% if @event.open? %>
  <% if user_owner?(@event, current_user) %>
    <div class="closing-time">
      <p>Your poll is now live. Kick back and invitees will vote on the best times. No need to wait here though, you will receive notifications via email.</p>
      <p>When you've reached a consensus, choose a winner and notify invitees.</p>
    </div>
  <% end %>
<% else %>
  <div class="closing-time">
    <p>
      This poll is closed. <%= @event.owner.name %> chose
      <span><%= @event.winning_suggestion.full_description %></span>.
      <% if user_owner?(@event, current_user) %>
        <%= link_to 'Add to Calendar', calendar_path(@event) %>
      <% end %>
    </p>
  </div>
<% end %>
