<% if @event.open? %>
  <% if user_owner?(@event, current_user) %>
    <div class="closing-time">
      <p><%= t 'events_show.poll_live_text_html' %></p>
      <p>Once you've reached a consensus, choose a winner.</p>
    </div>
  <% end %>
<% else %>
  <div class="closing-time">
    <p>
      This poll is closed. <%= @event.owner.name %> chose
      <span><%= @event.winning_suggestion.full_description %></span>.
      <% if user_owner?(@event, current_user) && @event.time_based? %>
        <%= link_to 'Add to Calendar', calendar_path(@event) %>
      <% end %>
    </p>
  </div>
<% end %>
