<div class="nested-fields">
  <%= f.input :description, as: :string, label: false, placeholder: "Suggestion",
        input_html: { 'data-role' => 'suggestion' } %>
  <%= link_to_remove_association '╳', f %>
</div>
