<td>
  <div class="vote-count" data-id="<%= suggestion.id %>">
    <span><%= suggestion.vote_count %></span>
  </div>
  <% if current_user.able_to_edit?(suggestion.event) %>
    <%= link_to 'Choose Winner', '#', class: 'winner-button',
      title: suggestion.full_description,
      data: {
        'event-name' => @event.name,
        'description' => suggestion.full_description,
        'suggestion-id' => suggestion.id,
        'suggestion-type' => suggestion.class.name
      }
    %>
  <% elsif suggestion.event.winning_suggestion == suggestion %>
    Winner!
  <% end %>
</td>
