<script type="text/template" id='header'>
  <li class='ui-autocomplete-type'>
    <div class='category-icon {{= type }}-icon' />
    <span class='title'>{{= type }}</span>
  </li>
</script>

<script type="text/template" id='userMenuItem'>
  <a>
    <div class='autocomplete-avatar' style='background-image: url({{= photo }})'/>
      <div class='outer-wrapper'>
        <div class='profile'>
          <div class='inner-wrapper'>
            <p class='name'>{{= fullName }}</p>
            <p class='job-title'>{{= jobTitle }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</script>

<script type="text/template" id='groupMenuItem'>
  <a>
    <div class='autocomplete-avatar' style='background-image: url({{= photo }})'/>
      <div class='outer-wrapper'>
        <div class='profile'>
          <div class='inner-wrapper'>
            <p class='name'>{{= fullName }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</script>

<script type="text/template" id='emailItem'>
  <a class='email'>
    <span>Email:</span>{{= value }}
  </a>
</script>
