<%- content_for(:javascript) do -%>
  <%= javascript_include_tag :event_create_edit -%>
<%- end -%>
<div class="new-event">
  <h2>Edit Event</h2>
  <%= render 'form', submit_label: 'Update event' %>
</div>
