<%- content_for(:javascript) do -%>
  <%= javascript_include_tag :event_create_edit -%>
<%- end -%>
<div class="new-event">
  <h2><%= t 'event_new.schedule_an_event' %></h2>
  <%= render 'form', submit_label: 'Create event' %>
</div>
