<%= @event.name %>
<ul class="suggestions">
  <% @suggestions.each do |suggestion| %>
    <li><%= suggestion.description %></li>
  <% end %>
  <%= link_to 'Edit event', edit_event_path(@event) %>
</ul>
