div.show-event {
  @extend .sheet;

  div.event-header {
    border-bottom: 1px solid darken($bg-color, 10%);
    margin-top: -10px;
    padding: 1.6em 0 0.7em;
    position: relative;
    text-align: center;
    z-index: 0;

    .event-name {
      @include inline-block;
      position: relative;
      vertical-align: middle;

      > h1 {
        @include inline-block;
        font-family: $bariol-light;
        font-size: 2em;
        margin: 0px;
        padding: 2px 0 2px;
        vertical-align: middle;
      }

      > input {
        @extend h1;
        background: rgb(254, 255, 223);
        border: 1px solid rgb(250, 238, 147);
        @include border-radius(3px);
        @include box-shadow(inset 0 0 3px 0 rgba(255, 239, 126, 1));
        @include box-sizing(border-box);
        display: none;
        font-family: $bariol-light;
        font-size: 2em;
        padding: 2px 0.2em 0px;
        text-align: center;
      }
    }

    a.edit-button {
      @extend .button;
      @include inline-block;
      margin: 3px 10px;
      padding: 0.2em 1em 0;
      vertical-align: middle;
    }
  }

  section.metadata {
    @include clearfix;
    margin-bottom: 40px;
    padding: 10px 0px 0px;
    color: darken($bg-color, 30%);

    span {
      font-size: 0.8em;
      vertical-align: middle;
    }

    div.created-by {
      float: left;

      div.avatar {
        background: rgb(255,255,255);
        background-position: center center;
        background-size: cover;
        border: 1px solid darken($bg-color, 35%);
        @include border-radius(3px);
        @include box-shadow(inset 0 1px 0 0 rgba(255,255,255, 0.3), 0 1px 0 0 rgba(255,255,255, 1));
        height: 18px;
        @include inline-block;
        vertical-align: middle;
        width: 18px;
      }
    }

    div.reminder {
      float: right;

      a.remind-all {
        @extend .blue-button;
        @include border-radius(3px);
        font-size: 0.8em;
        padding: 2px 5px;
        vertical-align: middle;
      }
    }

    .alt-invite {
      height: 14px;
      display:inline-block;

      a.email-invite, div.copy-event-url {
        @extend .button;
        padding: 1px 5px;
        font-size: 1.1em;
        margin-top: -1px;
        @include box-sizing(border-box);
        cursor: pointer;
        height: 100%;

        &.copy-event-url {
          width: 120px;
          padding-left: 0px;
          padding-right: 0px;
          text-align: center;
        }
      }
    }
  }

  section.search-box, section.invitee-sharing {
    background-color: $bg-color;
    @include background-image(linear-gradient(#fff, darken($bg-color, 2%)));
    border: 1px solid darken($bg-color, 20%);
    @include border-radius(4px);
    @include box-shadow(inset 0 -1px 0px #fff);
    @include box-sizing(border-box);
    left: 0;
    padding: 15px;
    position: relative;
    @include transition(all 0.2s linear);
    margin-top: 20px;

    &:hover {
      @include box-shadow(inset 0 -1px 0px #fff, 0 0 15px rgba(darken($bg-color, 15%), 0.5));
    }

    form#invitations {
      fieldset {
        border: none;
        margin: 0px;
        padding: 0;
        position: relative;

        ol {
          li {
            &.action {
              position: absolute;
              right: 0em;
              top: 0px;
            }
          }
        }
      }

      div.invitee-input {
        input#auto-complete {
          @include border-radius(4px);
          @include background-image(none);
          font-size: 0.8em;
          float: left;
          height: 34px;
          padding: 0.6em 0.8em;

          &.autocomplete-true {
            @include border-radius(4px 4px 0px 0px);
          }
        }
      }

      #add-invitee {
        display: none;
      }
    }

    &.invitee-sharing {
      #copy-url-container {
        position: relative;
        @include inline-block;
      }

      div.copy-event-url {
        &.copy-event-url span{
          width: 104px;
          @include inline-block;
          padding-left: 0px;
          padding-right: 0px;
          text-align: center;
        }

        img {
          margin: 0em 0.4em 0.1em 0em;
          vertical-align: middle;
        }
      }

      h4 {
        @include inline-block;
        margin-right: 10px;
        position: static;
        vertical-align: middle;
      }

      a.email-invite, a.yammer-invite, div.copy-event-url {
        @extend .button;
        @include box-sizing(border-box);
        height: 100%;
        @include inline-block;
        margin-right: 6px;
        padding: 5px 12px 4px;

        img {
          margin: 0em 0.4em 0.1em 0em;
          vertical-align: middle;
        }
      }
    }
  }

  ul.suggestions {
    margin: 5% 0;

    li.suggestion {
      border-bottom: 1px solid darken($bg-color, 5%);
      list-style: none;
      padding: 10px 0;

      div {
        display: inline-block;
      }

      aside {
        display: inline-block;
        max-width: 10%;
        text-align: center;
        width: auto;

        div.vote-count {
          background: $bg-color;
          border: 1px solid darken($bg-color, 10%);
          @include border-radius(30px);
          font-size: 0.7em;
          margin-bottom: 8px;
          padding: 0.4em 0.6em;
          text-align: center;
          width: 1.6em;
        }

        div.vote {
          input[type="submit"] {
            @extend .button;
            font-size: 0.8em;
            padding: 0.4em 0.8em;
            @include transition(none);

            &:hover {
              @extend .orange-button;
            }
          }
        }
      }

      div.description {
        color: darken($bg-color, 45%);
        display: inline-block;
        font-size: 1.25em;
        margin-left: 12px;
        vertical-align: top;
        width: 83%;
      }
    }
  }

  section.invited-yammer-groups {
    border: 1px solid darken($bg-color, 20%);

    h4 {
      background-color: $bg-color;
      border-bottom: 1px solid darken($bg-color, 20%);
      margin-bottom: 0px;
      padding: 10px 15px;
    }

    ul#groups {
      margin: 0;
      padding: 0px 10px;

      li {
        border-bottom: 1px solid darken($bg-color, 10%);
        list-style: none;
        padding: 0.8em 0px;

        &:last-child {
          border-bottom: none;
        }

        div.group-name {
          background: darken($bg-color, 3%);
          background-image: url(group.svg);
          background-position: 10px center;
          background-repeat: no-repeat;
          @include border-radius(4px);
          font-size: 0.9em;
          @include inline-block;
          padding: 0.5em 1em 0.5em 30px;
        }

        a.group-reminder {
          background: lighten($bg-color, 1%);
          border: 1px solid darken($bg-color, 2%);
          @include border-radius(3px);
          color: darken($bg-color, 20%);
          display: block;
          float: right;
          font-size: 0.9em;
          padding: 0.5em 1em;

          &:hover {
            @extend .blue-button;
          }
        }
      }
    }
  }


  div.call-to-action {
    background-color: darken($bg-color, 40%);
    border: 1px solid darken($bg-color, 50%);
    @include box-shadow(inset 0 1px 0 darken($bg-color, 20%));
    @include border-radius(3px 3px 0 0);
    color: #FFF;
    margin-top: 20px;
    padding: 10px;
    text-shadow: 0 -1px 0 darken($blue, 40%);
  }

  #yammer-feed {
    border: solid 1px #DDD;
    @include border-radius(0 0 4px 4px);

    .ymodule-attachments {
      display: none;
    }

    .yj-ft {
      @include border-radius(0 0 4px 4px);
      padding: 10px 10px 0 10px;
    }

    .yj-first-message {
      border-top: 0;
      margin-top: 0;
    }

    .yj-last-message {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  div.event-url {
    border-top: 1px solid darken($bg-color, 10%);
    padding-top: 15px;
  }
}
