div.show-event {
  @extend .sheet;

    ul.poll-actions {
      float: right;
      margin-bottom: -50px;
      margin-top: 10px;

      li {
        display: inline-block;

        .icon-button {
          background-color: $bg-color;
          background-position: center center;
          background-repeat: no-repeat;
          border: 1px solid darken($bg-color, 30%);
          @include box-shadow(0 1px 3px darken($bg-color, 11%));
          @include box-sizing(border-box);
          display: inline-block;
          height: 30px;
          @include no-text;
          opacity: 0.6;
          padding: 0;
          vertical-align: text-bottom;
          width: 40px;

          &:hover, &.hover {
            opacity: 1;
          }
        }

        button#copy-event-url {
          @include background-image(url('link-icon.svg'), linear-gradient($bg-color, darken($bg-color, 8%)));
          @include border-radius(4px 0 0 4px);
          cursor: pointer;
          margin-right: -6px;

          @include ie9 {
            background-image: url('link-icon.svg');
          }

          &:active, &.active {
            @include background-image(url('link-icon.svg'), linear-gradient(darken($bg-color, 8%), $bg-color));
          }

          &.single {
            @include border-radius(4px);
          }
        }

        a.edit-button {
          @include background-image(url('edit-icon.svg'), linear-gradient($bg-color, darken($bg-color, 8%)));
          @include border-radius(0 4px 4px 0);
          border-left: none;
          @include box-shadow(inset 1px 0 1px rgba(255,255,255,1),0 1px 3px darken($bg-color, 11%));

          @include ie9 {
            background-image: url('edit-icon.svg');
          }

          &:active, &.active {
            @include background-image(url('edit-icon.svg'), linear-gradient(darken($bg-color, 8%), $bg-color));
          }

          &.single {
            @include border-radius(4px);
            border-left: 1px solid darken($bg-color, 30%);
          }
        }
      }
    }

  div.event-header {
    border-bottom: 1px solid darken($bg-color, 10%);
    margin-top: -10px;
    padding: 1.5em 15% 1.5em 0;
    text-align: center;
    z-index: 0;

    .event-name {
      @include fill-parent;
      @include inline-block;
      margin-left: 5%;
      position: relative;
      vertical-align: middle;

      > h1 {
        color: darken($bg-color, 35%);
        font-family: $bariol-light;
        font-size: 2.5em;
        @include inline-block;
        margin: 0px;
        padding: 2px 10px;
      }

      &.editable {
        > h1 {
          &:hover {
            color: darken($notice, 50%);
            background-color: $yellow;
          }
        }
      }

      > input {
        @extend h1;
        background: $yellow;
        border: 1px solid darken($yellow, 48%);
        @include border-radius(3px);
        @include box-shadow(inset 0 0 3px 0 rgba(255, 239, 126, 1));
        @include box-sizing(border-box);
        color: darken($notice, 50%);
        display: none;
        font-family: $bariol-light;
        font-size: 2.5em;
        padding: 2px 0.2em 0px;
        text-align: center;
        width: 100%;
      }
    }
  }

  section.metadata {
    @include clearfix;
    margin-bottom: 40px;
    padding: 10px 0px 0px;
    color: darken($bg-color, 30%);

    div.reminder {
      float: left;

    span {
      font-size: 0.8em;
      vertical-align: middle;

      &.created-by {
        strong {
          font-size: 1em;
          font-weight: 600;
        }
      }

      &.divider {
        opacity: 0.5;
      }
    }

      a.remind-all {
        @extend .light-cta-button;
        @include border-radius(3px);
        font-size: 0.8em;
        padding: 2px 5px;
        vertical-align: middle;
      }
    }
  }

  section.search-box, section.invitee-sharing {
    @extend %blue-container;
    @include border-radius(4px);
    @include box-sizing(border-box);
    left: 0;
    padding: 15px;
    position: relative;
    margin-top: 20px;

    form#invitations {
      fieldset {
        border: none;
        margin: 0px;
        padding: 0;
        position: relative;

        ol {
          li {
            &.action {
              position: absolute;
              right: 0em;
              top: 0px;
            }
          }
        }
      }

      div.invitee-input {
        input#auto-complete {
          @include background-image(none);
          border: 1px solid darken($yammer-blue, 20%);
          @include border-radius(4px);
          @include box-shadow(0 1px 0 lighten($yammer-blue, 20%));
          float: left;
          font-size: 0.8em;
          height: 34px;
          padding: 0.6em 0.8em;

          &.autocomplete-true {
            @include border-radius(4px 4px 0px 0px);
          }
        }
      }

      #add-invitee {
        display: none;
      }
    }

    &.invitee-sharing {
      #copy-url-container {
        position: relative;
        @include inline-block;
      }

      div.copy-event-url {
        &.copy-event-url span{
          @include inline-block;
          padding-left: 0px;
          padding-right: 0px;
          text-align: center;
          width: 104px;
        }

        img {
          margin: 0em 0.4em 0.1em 0em;
          vertical-align: middle;
        }
      }

      h4 {
        @include inline-block;
        margin-right: 10px;
        position: static;
        vertical-align: middle;
      }

      a.email-invite, a.yammer-invite, div.copy-event-url {
        @extend .button;
        @include box-sizing(border-box);
        height: 100%;
        @include inline-block;
        margin-right: 6px;
        padding: 5px 12px 4px;

        img {
          margin: 0em 0.4em 0.1em 0em;
          vertical-align: middle;
        }
      }
    }
  }

  ul.suggestions {
    margin: 5% 0;

    li.suggestion {
      border-bottom: 1px solid darken($bg-color, 5%);
      list-style: none;
      padding: 10px 0;

      div {
        display: inline-block;
      }

      aside {
        display: inline-block;
        max-width: 10%;
        text-align: center;
        width: auto;

        div.vote-count {
          background: $bg-color;
          border: 1px solid darken($bg-color, 10%);
          @include border-radius(30px);
          font-size: 0.7em;
          margin-bottom: 8px;
          padding: 0.4em 0.6em;
          text-align: center;
          width: 1.6em;
        }

        div.vote {
          input[type="submit"] {
            @extend .button;
            font-size: 0.8em;
            padding: 0.4em 0.8em;
            @include transition(none);

            &:hover {
              @extend .orange-button;
            }
          }
        }
      }

      div.description {
        color: darken($bg-color, 45%);
        display: inline-block;
        font-size: 1.25em;
        margin-left: 12px;
        vertical-align: top;
        width: 83%;
      }
    }
  }

  section.invited-yammer-groups {
    border: 1px solid darken($bg-color, 20%);
    @include border-radius(4px 4px 0 0);

    h4 {
      background-color: $bg-color;
      @include background-image(linear-gradient(#fff, darken($bg-color, 2%)));
      border-bottom: 1px solid darken($bg-color, 20%);
      @include border-radius(3px 3px 0 0);
      margin-bottom: 0px;
      padding: 10px 15px;
    }

    ul.groups {
      margin: 0;
      padding: 0px 10px;

      li {
        border-bottom: 1px solid darken($bg-color, 10%);
        list-style: none;
        padding: 0.8em 0px;

        &:last-child {
          border-bottom: none;
        }

        div.group-name {
          @extent %group-label;
        }

        a.group-reminder {
          background: lighten($bg-color, 1%);
          border: 1px solid darken($bg-color, 2%);
          @include border-radius(3px);
          color: darken($bg-color, 20%);
          display: block;
          float: right;
          font-size: 0.8em;
          padding: 0.25em 1em;

          &:hover {
            @extend .light-cta-button;
          }
        }
      }
    }
  }

  section.invited-users {
    @extend section.invited-yammer-groups;
  }

  div.call-to-action {
    @extend %blue-container;
    @include border-radius(3px 3px 0 0);
    margin-top: 20px;
    padding: 10px;
  }

  div.event-url {
    border-top: 1px solid darken($bg-color, 10%);
    padding-top: 15px;
  }
}
