<div class="show-event">
  <h1 class="event-name">
    Event Name
  </h1>
  <p>Add participants to your event...</p>
  <div class="table-wrapper">
    <div class="options">
      <table class="scrollable horizontal">
        <tbody><tr>
            <th>06/09/12 12am</th>
            <th>06/10/12 11am</th>
            <th>06/11/12 12am</th>
            <th>06/11/12 10am</th>
            <th>06/15/12 7am</th>
            <th>06/21/12 9am</th>
            <th>06/22/12 9am</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td id="voted">✔</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td id="voted">✔</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td id="voted">✔</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="voted">✔</td>
          </tr>

      </tbody></table>
    </div>
    <div class="search-box">
      <form id="auto-complete">
        <input type="text" />
      </form>
    </div>
    <div class="participants">
      <table>

        <tbody>
          <tr>
            <td>John Appleseed</td>

          </tr>
          <tr>
            <td>email@exmple.com</td>

          </tr>
          <tr>
            <td>thoughtbot</td>

          </tr>
          <tr>
            <td>email@exmple.com</td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
