div.invitation-message {
  margin-top: 50px;

  textarea {
    height: 8.5em;
    resize: vertical;
  }

  div.meta {
    input[type="submit"] {
      padding: 1em;
      margin-top: 8px;
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}
