// Grid settings
$grid-columns: 12;
$gutter-width: 2%;
$column-width: (100% - ($gutter-width * ($grid-columns - 1))) / $grid-columns;

$max-width: 1200px; // Change to 100% for a completely fluid layout. Also, keep this in mind when changing the pixel value of max-width http://ejohn.org/blog/sub-pixel-problems-in-css/

// Fonts
$sans: 'Open Sans',Verdana, Helvetica, Arial, sans-serif;
$serif: Georgia,serif;

// Type size
$body-font: 16px;
$h1-size: 2em;
$ratio: .8;


//colors:


// $placeholder-color: darken($$$, 10%);
