<div class="show-event">
  <%= render 'events/header' %>
  <%= render 'events/guest_invitation_form' %>

  <div class="table-wrapper grid">
    <div class="scroll-notice"></div>

    <%= render 'events/grid' %>
  </div>
</div>
