<% content_for :content do %>
  <%= render 'shared/navbar' -%>
  <%= render 'shared/sign_in_modal' -%>

  <div class="main-content">
    <%= yield %>
  </div>
<% end %>


<%= render file: 'layouts/application' %>
